// Mixins Here

.center-text() {
    text-align: center;
}

.space-between() {
    display: flex;
    justify-content: space-between;
}

.custom-button(@margin, @padding) {
    margin: @margin;
    padding: @padding;
}