// Navigation code here

.navbar {
    .space-between();
}

.name {
    margin-top: 5%;
    font-size: 4rem;
    .center-text();
    color: black;
}

.links {
    width: 100%;
    display: flex;
    .space-between();
    .center-text();
    font-family: 'Russo One', sans-serif;
    color: #23293B;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.home h1 {
    margin-bottom: 3%;
}